.filter-section {
  width: 100%;
}

.cocktail-viewport {
  height: 37.5rem;
  width: 37.5rem;
  .card {
    padding-bottom: 3rem;
  }
}

.header-image {
  background-image: url("../../../assets/whisky_glass.svg");
  background-size: cover;
}
.header {
  width: 100%;
  background-color: wheat;
  color: rgb(61, 46, 3);
  font-family: sans-serif;
  font-size: larger;
}

.body {
  padding: 1rem 3rem;
}

footer {
  height: 25px;
}
